/*-------------------------General----------------------- */
body {
    color: #1F1F1F;
}

/*-------------------------Header----------------------- */ 
#logo {
    height: 5rem;
}

header {
    background-color: #BDE9EF;
}